.topbar {
  margin-bottom: 0em; 
  font-size:1.1em;
  background: linear-gradient(var(--main-color-1), var(--main-color-2));

  .navbar-brand {
    padding-left: 3em;
    padding-right: 2em;
  }

  .nav-item {
    padding-right:2em;
  }

  .right-side-container {
    margin-left: auto;
    padding-right: 3em;
    display: flex;
  }

  .loginWrapper {
    // padding-left: 2.5em;
  }
}
