.topbar {
  margin-bottom: 0em; 
  font-size:1.3em;
  // background: linear-gradient(var(--alpatab-light_red), var(--alpatab-blue_white));
  background-color: var(--alpatab-light_red);
  height: 5.5em;

  .navbar-brand {
    padding-left: 2.4em;
    padding-right: 2em;
  }

  .nav-item {
    padding-right:2em;
  }

  .right-side-container {
    margin-left: auto;
    padding-right: 2vw;
    display: flex;
  }

  .loginWrapper {
    // padding-left: 2.5em;
  }

}
