.topbar {
  margin-bottom: 1em; 
  font-size:1.2em;

  .navbar-brand {
    padding-left: 3em;
    padding-right: 2em;
  }

  .nav-item {
    padding-right:2em;
  }

  .right-side-container {
    margin-left: auto;
    padding-right: 3em;
  }
}
