body {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--alpatab-blue_white)!important;
}

* {
  font-family: 'Josefin Sans', sans-serif!important;
}