body {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-color-2)!important;
}

* {
  font-family: 'Josefin Sans', sans-serif;
}