// @font-face {
//     font-family: 'Josefin Sans', sans-serif;
//     src: url(https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap);
// }

:root {
    --main-color-1: #669DB3FF;
    --main-color-2: #F0F6F7FF;
    --main-color-3: #A89C94FF;
    --main-color-4: #FF4F58FF;
}