// @font-face {
//     font-family: 'Josefin Sans', sans-serif;
//     src: url(https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap);
// }

:root {
    --alpatab-red: #6D1410;
    --alpatab-light_red: #f2aaa6;
    --alpatab-dark_red: #470d0a;
    --alpatab-blue: #203C88;
    --alpatab-light_blue: #cdd8f3;
    --alpatab-dark_blue: #101e42;
    --alpatab-blue_white: #eff2fb;
    --alpatab-red_white: #ffe2e0;
    --alpatab-red_black: #411410;
    --alpatab-blue_black: #080f21;
}