.datatable {
    height: 700px;
    padding: 20px;
    
    .datagrid {
      height: 80%;
    }
    
    .datatableTitle {
      width: 100%;
      font-size: 24px;
      color: gray;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .link {
        text-decoration: none;
        color: var(--main-color-4);
        font-size: 16px;
        font-weight: 400;
        border: 1px solid var(--main-color-4);
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
}
