.datatable {
    height: 700px;
    padding: 0;
    margin: 0;
    margin-top: 2em;
    
    .datagrid {
      height: 80%;
    }
    
    .datatableTitle {
      width: 100%;
      font-size: 24px;
      color: gray;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .link {
        text-decoration: none;
        // color: var(--alpatab-light_red);
        color: #ffb86f;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid #ffb86f;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    .MuiButtonBase-root {
      color: var(--alpatab-blue);
    }

    .MuiButtonBase-root.addEntryButton {
      margin-right: 2em;
    }

    .MuiDataGrid-cell {
      color: var(--alpatab-blue_black);
    }

    .MuiDataGrid-columnHeader {
      color: var(--alpatab-red);
    }

    .MuiInputBase-root {
      color: var(--alpatab-blue_black);
    }

    .right-side-toolbar-container {
      margin-left: auto;
      padding-right: 2vw;
      display: flex;
    }
  
    img {
      height: 18px;
      width: 18px;
    }

    .addEntryButton {
      // font-size: medium;
      // font-weight: bold;
    }

    .inlineForm {
      display: inline;
    }
}
